name: lean

on:
  push:
  pull_request:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - run: elan default leanprover/lean4:v4.27.0
      - uses: leanprover/lean-action@v1
        with:
          auto-config: true

